<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Snappy Vote</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../static/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        <script src="../static/js/main.js"></script>
        <script src="../static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

        <script type="text/javascript">
            $(function(){
            if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ) {
              var ww = ( $(window).width() < window.screen.width ) ? $(window).width() : window.screen.width; //get proper width
              var mw = 480; // min width of site
              var ratio =  ww / mw; //calculate ratio
              if( ww < mw){ //smaller than minimum size
               $('#Viewport').attr('content', 'initial-scale=' + ratio + ', maximum-scale=' + ratio + ', minimum-scale=' + ratio + ', user-scalable=yes, width=' + ww);
              }else{ //regular size
               $('#Viewport').attr('content', 'initial-scale=1.0, maximum-scale=2, minimum-scale=1.0, user-scalable=yes, width=' + ww);
              }
            }
            });
        </script>

        <!-- get the link to the css -->
        <link rel="stylesheet" href="../static/css/index.css">

    </head>

    <body>
        <div class="top_snap">
        </div>
        <div class="snap">
            <div class="top_button">
                <button class="button" id="vote_go" type="button">Vote</button>
                <button class="button" id="info" type="button">Info</button>
            </div>
            <div class="bottom_button">
                <button class="button" id="login" type="button">Login</button>
                <button class="button" id="admin" type="button">Admin Page</button>
            </div>
        </div>
        <script type="text/javascript" charset="utf-8">
            var socket = io.connect('http://' + document.domain + ':' + location.port);

            document.getElementById("vote_go").onclick = function () {
                location.href = '{{ url_for('vote') }}';
            };

            document.getElementById("info").onclick = function () {
                location.href = '{{ url_for('info') }}';
            };

            document.getElementById("login").onclick = function () {
                location.href = '{{ url_for('login') }}';
            };
            document.getElementById("admin").onclick = function () {
                location.href = '{{ url_for('admin') }}';
            };

        </script>
    </body>

