<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Snappy Vote</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../static/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        <script src="../static/js/main.js"></script>
        <script src="../static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>

        <script type="text/javascript">
            $(function(){
            if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ) {
              var ww = ( $(window).width() < window.screen.width ) ? $(window).width() : window.screen.width; //get proper width
              var mw = 480; // min width of site
              var ratio =  ww / mw; //calculate ratio
              if( ww < mw){ //smaller than minimum size
               $('#Viewport').attr('content', 'initial-scale=' + ratio + ', maximum-scale=' + ratio + ', minimum-scale=' + ratio + ', user-scalable=yes, width=' + ww);
              }else{ //regular size
               $('#Viewport').attr('content', 'initial-scale=1.0, maximum-scale=2, minimum-scale=1.0, user-scalable=yes, width=' + ww);
              }
            }
            });
        </script>

        <!-- get the link to the css -->
        <link rel="stylesheet" href="../static/css/voter.css">

    </head>

    <body>
        <!-- top form -->
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

        <div class="voter_box">
            <form name='voter' id='voter' method="POST" >

                    <fieldset class="rate">
                        <input type="radio" id="rating10" name="rating" value="10" /><label for="rating10" title="5 stars"></label>
                        <input type="radio" id="rating9" name="rating" value="9" /><label class="half" for="rating9" title="4 1/2 stars"></label>
                        <input type="radio" id="rating8" name="rating" value="8" /><label for="rating8" title="4 stars"></label>
                        <input type="radio" id="rating7" name="rating" value="7" /><label class="half" for="rating7" title="3 1/2 stars"></label>
                        <input type="radio" id="rating6" name="rating" value="6" /><label for="rating6" title="3 stars"></label>
                        <input type="radio" id="rating5" name="rating" value="5" /><label class="half" for="rating5" title="2 1/2 stars"></label>
                        <input type="radio" id="rating4" name="rating" value="4" /><label for="rating4" title="2 stars"></label>
                        <input type="radio" id="rating3" name="rating" value="3" /><label class="half" for="rating3" title="1 1/2 stars"></label>
                        <input type="radio" id="rating2" name="rating" value="2" /><label for="rating2" title="1 star"></label>
                        <input type="radio" id="rating1" name="rating" value="1" /><label class="half" for="rating1" title="1/2 star"></label>
                        <input type="radio" id="rating0" name="rating" value="0" /><label for="rating0" title="No star"></label>
                    </fieldset>
                    <div class="buttons">
                        <button class="vote_button" id="vote_button" value="vote" disabled="true">Submit</button>
                        <!-- current vote info -->
                        <span class="current_votes" id="current_votes">0 / 1 votes</span>
                        <span class="last_vote" id="last_vote">last vote: 0 </span>
                    </div>

            </form>
        </div>

        <!-- Image -->

        <div class="card_image">
           <img src={{card_image}} alt="status" id="card_image" class="card_image">
        </div>

        <!-- Scripts -->
        <details>
            <summary class="summary">Card Rulings</summary>
            <div class="rules" id="rules">

            </div>
        </details>

        <!-- Card info  -->
        <details>
            <summary class="summary">Card Info</summary>
            <div class="cardinfo" id="cardinfo">

            </div>
        </details>



        <!-- Scripts -->

        <script type="text/javascript" charset="utf-8">
            // connect to /vote namespace
            var socket = io.connect('http://' + document.domain + ':' + location.port + '/vote', {user: "{{session.username}}"});

            socket.on('card_response', function(data) {
                console.log(data['data']);
                //document.getElementById("vote_button").disabled = false;
                document.getElementById("card_image").src = data['data'];
            });
            // used to update the vote bar, pass ''  for no update to value
            socket.on('vote_bar_message', function(data) {
                //console.log(data);
                if (data['button_disabled'] != null) {
                    console.log(data['button_disabled']);
                    document.getElementById("vote_button").disabled = data['button_disabled'];
                }
                if (data['current_votes'] != '') {
                    document.getElementById("current_votes").textContent = data['current_votes'];
                }
                if (data['last_vote'] != '') {
                    document.getElementById("last_vote").textContent = data['last_vote'];
                }
            });

             socket.on('card_data_message', function(data) {
                console.log(data);
                if (data['card_image'] != '') {
                    document.getElementById("card_image").src = data['card_image'];
                }

                //remove current card rulings
                var rules = document.getElementById("rules");
                var rule_elements = rules.getElementsByClassName("rule_element");
                while (rule_elements[0]) {
                    rule_elements[0].parentNode.removeChild(rule_elements[0]);
                }
                // check for new rulings
                if (data['rulings'].length > 0){
                    for (index = 0, len = data['rulings'].length; index < len; ++index) {
                        // add new rules
                        var newrule = document.createElement ("div");
                        newrule.innerHTML = data['rulings'][index];
                        newrule.className = "rule_element";
                        newrule.style.border = "thin dotted blue";

                        rules.appendChild (newrule);

                    }
                }

                // check all card info varients
                var cardinfo = document.getElementById("cardinfo");
                var cardinfo_elements = cardinfo.getElementsByClassName("cardinfo");
                while (cardinfo_elements[0]) {
                    cardinfo_elements[0].parentNode.removeChild(cardinfo_elements[0]);
                }

                for (var key in data['info']) {
                    // check if the property/key is defined in the object itself, not in parent
                    if (data['info'].hasOwnProperty(key)) {
                        // add new rules
                        var newinfo = document.createElement ("div");
                        newinfo.innerHTML = key + ': ' + data['info'][key];
                        newinfo.className = "cardinfo_elements";
                        newinfo.style.border = "thin dotted blue";

                        cardinfo.appendChild (newinfo);
                    }
                }



            });


           $('#voter').submit(function(event){
                event.preventDefault()
                // disable button
                // document.getElementById("vote_button").disabled = true;
                var rate = document.getElementById("voter").elements["rating"].value;
                console.log('button press: ' + rate);
                socket.emit('score', {score: rate});
            });
        </script>

   </body>
</html>